{{#extends 'base'}}

{{#block 'content'}}
<table class="table">
    <thead>
        <tr>
            <th>Configuration</th>
            <th>id</th>
            <th>isApproved</th>
            <th>nft_id</th>
            <th>user_id</th>
            <th>amount</th>
            <th>startDateTime</th>
        </tr>

    </thead>
    <tbody>
        {{#each databaseData}}
        <tr>
            <td>
                <a href="/launchpads/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
                <a href="/launchpads/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
            </td>
            <td>
                {{id}}
            </td>
            <td>
                {{isApproved }}
            </td>
            <td>
                {{nft_id}}
            </td>
            <td>
                {{user_id}}
            </td>
            <td>
                {{amount}}
            </td>
            <td>
                {{startDateTime}}
            </td>

        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}
