{{#extends 'base'}}

{{#block 'content'}}
<table class="table">
    <thead>
        <tr>
            <th>Configuration</th>
            <th>id</th>
            <th>auctionGroupsApproved</th>
            <th>name</th>
            <th>startDateTime</th>
            <th>endDateTime</th>
        </tr>

    </thead>
    <tbody>
        {{#each databaseData}}
        <tr>
            <td>
                <a href="/auctionGroups/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
                <a href="/auctionGroups/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
            </td>
            <td>
                {{id}}
            </td>
            <td>
                {{auctionGroupsApproved}}
            </td>
            <td>
                {{name}}
            </td>
            <td>
                {{startDateTime}}
            </td>
            <td>
                {{endDateTime}}
            </td>


        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}